<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= locals.title %></title>
	<meta name="describtion" content="<%= locals.describtion %>">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/index.css">
	<link rel="stylesheet" href="/styles/footer.css">
	<link rel="stylesheet" href="/styles/header.css">
	<link rel="stylesheet" href="/styles/post.css">
	<link rel="stylesheet" href="/styles/edit-post.css">
</head>
<body>
	<header class="header">
		<a href="/" class="header__logo">NodeJS Blog</a>
		<nav class="header__nav">
			<ul class="header__ul">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>
